.App {
  text-align: center;
}
p {
  width: 50%;
  text-align: justify;
  margin: 0 auto;
}
.dis {
  font-size: 20px;
  font-weight: bold;
  color: red;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.display {
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 50px;
  padding-bottom: 21.4px;
  width: 90%;
  border: 5px solid black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.form .button {
  padding: 5px 20px;
  margin: 20px;
  border-color: inherit;
  border-radius: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
